.sideBarContainer {
  background-color: grey;
  width: 250px;
  height: auto;
}

.sideBarButton {
  padding-top: 30px;
  font-size: x-large;
  background-color: inherit;
  border: none;
  width: 100%;
  display: flex;
}

.sideBarItem {
  border-bottom: 2px solid black;
  display: flex;
  align-items: center;
}

.sideBarIcon {
  margin-right: 1rem;
}