.itemWinProbabilityTable {
  width: 100%;
  background-color: ghostwhite;
  margin-bottom: 20px;
  border:solid gainsboro 1px;
  border-radius:6px;
}

.Header {
  margin: 0;
  padding-left: 40px;
  display: flex;
}

.tableHeader {
  border:solid black 2px;
  background-color: rgb(238, 238, 238)
}
