.table {
  width: 100%;
  background-color: ghostwhite;
  margin-bottom: 20px;
  border:solid gainsboro 1px;
  border-radius:6px;
}

.header {
  border:solid black 2px;
  background-color: rgb(238, 238, 238)
}
