.table {
  width: 100%;
  background-color: ghostwhite;
  margin-bottom: 20px;
  border:solid gainsboro 1px;
  border-radius:6px;
}

.header {
  border:solid black 2px;
  background-color: rgb(238, 238, 238)
}

.sortableTableSearchInputContainer{
  border: 1px solid black;
  margin-left: 1rem;
}

.sortableTableSearchInput {
  border: none;
}

.sortableTableSearchInput:focus {
  outline: none;
}

.sortableTableTopArea {
  display: flex;
  float: right;
  margin-top: 1rem;
  margin-bottom: 1rem;
}