.App {
  text-align: left;
}

.container {
  padding-top: 75px;
  display: flex;
}

.dataContainer {
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
}

.AppHeader {
  padding-top: 75px;
  text-align: center;
}

.AppInput {
  position: fixed;
  right: 400px;
}

.AppLabel {
  color: white;
  font-weight: bold;
  margin: 10px;
}