.App {
  text-align: left;
}

.TopBar {
  height: 75px;
  background-color: black;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
}

.pageHeader {
  color: white;
  margin: 10px;
}

.dataContainer {
  padding-top: 75px;
  width: auto;
  margin-left: 20px;
  margin-right: 20px;
}

.loadingHeader {
  padding-top: 75px;
  text-align: center;
}

.AccountIdInput {
  position: fixed;
  right: 400px;
}

.accountIdLabel {
  color: white;
  font-weight: bold;
  margin: 10px;
}